<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="~/js/jQuery.js"></script>
    <script src="~/lib/js/signalr/dist/browser/signalr.js"></script>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="navbar">
        <div class="info">
            <img class="logo" src="~/img/logo.png" alt="">
            <div class="text">
                <h3 id="navbar-name"></h3>
                <h4 id="navbar-group"></h4>
            </div>
        </div>
        <div class="links">
            <ul>
                <li> <a href="/Student/PersonalArea">Личный кабинет</a> </li>
                <li>
                    <a onclick="navbarShow('subjects-today', 1)" href="#">Пары сегодня</a>
                    <div id="subjects-today" class="hidden-vertical-block">
                    </div>
                </li>
                <li>
                    <a onclick="navbarShow('schelude-today', 2)" href="#">Расписание</a>
                    <div id="schelude-today" class="hidden-vertical-block"></div>
                </li>
                <li> 
                    <div class="flex-box">
                        <a onclick="navbarShow('notifications', 4)" href="#">Уведомления</a>
                        <p id="count" class="notificationsCount"></p>
                        <a onclick="deleteNotifications()" href="#">
                            <img style="height: 23px; width: 23px;" src="~/img/rubbish.png" alt="Alternate Text" />
                        </a>
                    </div>
                    <div id="notifications" class="notifications hidden-vertical-block">

                    </div>
                </li>
            </ul>
        </div>
        <div class="icons">
            <a href="https://www.instagram.com/kgu_kptk.krg/"><img src="~/img/instagram.png" alt=""></a>
            <a href="https://kvptk.edu.kz/ru"><img src="~/img/web.png" alt=""></a>
            <a href="/Account/LogOff"><img src="~/img/LogOff.png" alt=""></a>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>

    <div id="newNotif" class="notif">
        <h4>Новое уведомлениe!</h4>
    </div>

    <script src="~/js/animation.js"></script>
    <script src="~/js/SignalR.js"></script>
    <script src="~/js/server.js"></script>
</body>
</html>
